
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

body {
    background-color: #edede9;
    font-family: "Merriweather", serif;
    color: black;
}

.container-lg {
    padding-left: 40px;
    padding-right: 40px;
}

.header {
    text-align: center;
}

.quote {
    font-family: "Playwrite IT Moderna", cursive;
}

.card {
    background-color: #faf9f7;
    margin-top: 10px;
}

.card:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
  
.card-link {
    text-decoration: none;
    color: inherit;
}

.card-title {
    color: black !important;
    font-weight: bold;
    text-align: center;
}

.card-text {
    color: rgb(69, 69, 69);
    text-align: center;
}

.post-title {
    text-align: center;
}

@media(min-width:992px) {
    .navbar {
        background-color: transparent;
    }

    .container-lg {
        padding-left: 5%;
        padding-right: 5%;
    }

    .card {
        margin-top: 0px;
    }
}
