@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --scroll-gray: #d6d6d6;
    --white: #ffffff;
    --black-font: #333;
    --black: #000;
    --shadow: #1e1e1e28;
    --link-purple: #a014a0;
    --quote-purple: #ecdbfa;
    --light-purple-bg: #ecdbfa;
    --lighter-purple: #faf7fc;
    --purple: #e1bdfd;
    --card-purple: #e1bdfd30;
    --quote: #f7f7f7a2;
    --img-vlp: #faf5f8;
    --img-lp: #bfaada;
    --img-dp: #695286;
    --img-lr: #c54042;
    --img-dr: #391f1f;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-gray);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-gray);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-gray) var(--white);
}

/* Body */
body {
    background-color: var(--white);
    font-family: "Google Sans", sans-serif;
    color: var(--black-font);
    text-align: justify;
    font-size: clamp(16px, 1.05vw, 25px);
}

a {
    text-decoration: none;
}


p,
i,
li,
.card-title,
.nav-link,
.navbar li.nav-item h5,
.navbar-brand {
    font-size: clamp(16px, 1.25vw, 25px);
    line-height: 1.6;
}

h1 {
    font-size: clamp(1.5rem, 3vw, 50px);
    color: var(--img-dp);
}

h2 {
    font-size: clamp(1.4rem, 2.5vw, 45px);
    color: var(--img-dp);
}

h3 {
    font-size: clamp(1.3rem, 2vw, 40px);
    color: var(--img-dp);
}

h4 {
    font-size: clamp(1.2rem, 1.5vw, 35px);
}

h5 {
    font-size: clamp(1.1rem, 1vw, 30px);
}



/* Navbar */
.navbar {
    background-color: var(--light-purple-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    padding: 15px 30px;
}

.navbar.scroll {
    box-shadow: 0 0 6px 1px var(--shadow) !important;
}

.navbar #navbar_fp {
    display: none;
}

.navbar img.navbar-img {
    width: 50px;
}

#logo {
    display: none;
}

.navbar .dropdown-toggle::after {
    margin-left: 0;
}

.navbar .navbar-brand h4 b {

    color: var(--black);
}

.navbar li.nav-item {
    display: flex;
    align-items: center;
}

.navbar li.nav-item h5 {
    margin-bottom: 0;
}

.navbar .nav-link,
.navbar .nav-link h5 {


    color: var(--black);
}

.navbar .nav-item.dropdown h5 a:hover,
.navbar .nav-link h5:hover {
    color: var(--black);
}

/* Header */
.header {
    margin: 0;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(to bottom, var(--light-purple-bg) 20%, var(--white) 99%);
    background-position: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    min-height: calc(80vh - 50px);
}

.header.post {
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--light-purple-bg);
    display: flex;
    height: 50vh;
    margin-top: 30px;
    background: none;
    background-color: var(--lighter-purple);
    min-height: calc(100vh - 50px);
    height: fit-content;
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;

    & .card-img-top {
        margin-top: 2rem;
        width: 30%;
        height: auto;
        max-height: 680px;
        max-width: 800px;
    }
}

.header.tools {
    margin-top: 50px;
    margin-bottom: 0;
    background: var(--light-purple-bg);
    display: flex;
    margin-top: 30px;
    background: none;
    background-color: var(--lighter-purple);
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    min-height: 50vh;
    height: 50vh;
    max-height: 50vh;
}

.header.post .post-title {
    width: 100%;
    color: #695286;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header {
    padding-left: 40px;
    padding-right: 40px;
}

.container-header img {
    width: 50%;
    max-width: 800px;
    height: auto;
    margin-bottom: 50px;
}

.header-description {
    padding: 10px 10%;
}

/* Sections */
.section {
    padding: 70px 25%;
    margin: 0;
}

.section.initial {
    padding: 70px 10%;
}

.section.color {
    background-color: var(--card-purple);
    box-shadow: 0px 0px 5px 0px var(--shadow);
}

.section.color .card-item-cols {
    background-color: var(--white);
}

/* Category Titles */
.category-title,
.category-subtitle {
    width: 100%;
    color: var(--img-dp);
    text-align: center;
    font-style: normal;
    margin-bottom: clamp(15px, 1.05vw, 9999px);
}

.category-title {
    color: var(--img-dr);
}

ul {
    margin-left: 3% !important;
}

.section.post>ul {
    width: 97% !important;
}

.section.tools {
    padding-bottom: 0;
}


/* Cards */
.card-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45vh;
}

.card-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;

}

.card-item-cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--img-vlp);
    border-radius: 8px;
    margin: 15px;
    width: 50%;
    max-width: 35ch;
    min-height: 40ch;
    padding: clamp(30px, 1.05vw, 50px);
    height: fit-content;
}

.card-img-top {
    width: auto;
    height: 200px;
}

.card-item-cols>.card-img-top {
    margin-bottom: 15px;
}

.card-title {
    color: var(--img-dp) !important;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    min-height: 4rem;

}

.card-text {
    color: var(--black-font);
    margin-bottom: 5px;
    text-align: left; 
    font-size: clamp(16px, 1.15vw, 25px);
}

/* Footer */
.footer {
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.footer p {
    font-size: clamp(12px, 1.05vw, 20px) !important;
    margin-bottom: 0rem;
}

.footer a {
    color: var(--black);
}

/* Links */
.paper,
.link {
    text-decoration: none;
    font-weight: bold;
}

.paper {
    color: var(--img-lr);
}

.link {
    color: var(--black-font);
}

/* Accordion */
.accordion-button,
.accordion-button:not(.collapsed),
.accordion-item {
    text-decoration: none;
    text-align: var(--black) !important;
    background-color: #faf9f7;
}

/* Paper Image */
.paper-img {
    width: 50%;
    margin-left: 25%;
}


/* image container */
.image-container {
    background-color: var(--img-vlp);
    padding: 1em;
    border-radius: 12px;
    display: inline-block;
    /* shrink to fit image */
    text-align: center;
    margin: 1.5em 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* fig caption */
figcaption {
    color: var(--img-dp);
    padding: 0.5em 1em;
    border-radius: 8px;
    display: inline-block;
    margin-top: 0.5em;
    font-size: 0.9em;
}

/* container in starting-in-oss */
.link-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin: 2rem 0;
}

.link-card {
    flex: 1 1 250px;
    max-width: 300px;
    background-color: #faf5f8;
    padding: 1rem;
    border-radius: 12px;
    text-decoration: none;
    color: inherit;

    /* Center contents */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    transition: transform 0.2s ease;
    min-height: 300px;
}

.link-card:hover {
    transform: scale(1.03);
}

.link-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.link-card figcaption {
    margin-top: 0.75em;
    font-weight: bold;
    font-size: 0.95em;
    color: var(--img-dp);
}


/* Blockquotes */
blockquote {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

blockquote p {
    position: relative;
    margin: 40px 0;
    padding: 40px;
    background-color: var(--img-vlp);
    border-radius: 16px;
    width: 90% !important;
    display: flex;
    flex-direction: column;
    font-style: italic;
}

blockquote p::before,
blockquote p::after {
    font-size: clamp(40px, 5vw, 80px);
    font-weight: bold;
    transform: scale(2);
    color: var(--img-dp);
    opacity: 0.8;
    font-family: "Georgia", serif;
    font-style: normal;
}

blockquote p>cite {
    margin-top: 10px;
    font-size: clamp(15px, 1.05vw, 9999px) !important;
}

blockquote p::before {
    content: "“";
    position: absolute;
    top: -10px;
    left: -10px;
}

blockquote p::after {
    content: "”";
    position: absolute;
    bottom: -70px;
    right: -10px;
}

/*Select*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    min-width: 385px;
    width: fit-content;
    padding: 20px 35px;
    border: 1px solid var(--shadow);
    border-radius: 4px;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22292%22%20height%3D%22192%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M287%2069L166%20190c-4%204-10%204-14%200L5%2069c-5-5-5-13%200-18l14-14c5-5%2013-5%2018%200l123%20123%20123-123c5-5%2013-5%2018%200l14%2014c5%205%205%2013%200%2018z%22%20fill%3D%22%23333%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 35px center;
    padding-right: 70px;
    background-size: 12px;
    font-size: clamp(16px, 1.05vw, 9999px);
    margin-top: clamp(16px, 1.05vw, 9999px);
    cursor: pointer;
    outline: none !important;
}

.dropdown-btn:focus {
    outline: none !important;
    border-color: var(--shadow) !important;
}


.dropdown-content {
    min-width: 385px;
    display: none;
    position: absolute;
    background-color: var(--white);
    z-index: 1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: fit-content;
    margin-left: 0 !important;
    margin-top: -10px;
    padding: 0;
    border-left: 1px solid var(--shadow);
    border-right: 1px solid var(--shadow);
    border-bottom: 1px solid var(--shadow);

}

.dropdown-content li {
    padding: 12px 16px;
    cursor: pointer;
    list-style-type: none;
    font-size: clamp(16px, 1.05vw, 9999px);
    font-weight: 400;
    text-align: start;
    border-bottom: 1px solid var(--shadow);

    &:last-child {
        border-bottom: none;
    }

    &:hover {

        background: #d6d6d610;
    }

}

.dropdown .show {
    display: block;
}

/*Scroll To Top*/
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 3px 1px var(--shadow) !important;
}

.inputContainer {
    width: 96%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 2px solid var(--light-purple-bg);
    border-radius: 4px;
    margin-bottom: 15px;

    & input {
        width: 100%;
        padding: 5px 10px;
        outline: none;
        border: none;
        border-top-left-radius: 0.5px;
        border-bottom-left-radius: 0.5px;
        background-color: var(--lighter-purple);

        :focus {
            outline: none;
            border: none;
        }
    }

    & button {
        padding: 5px 10px;
        border: none;
        border-top-right-radius: 0.5px;
        border-bottom-right-radius: 0.5px;
        background-color: var(--light-purple-bg);
    }
}

.feedbackContainer {
    margin: auto;
    margin-top: 0;

    h4 {
        color: var(--img-dp);
    }
}

#output-code {
    background-color: var(--lighter-purple);
    border-radius: 4px;
    padding: 10px;
    max-height: 70vh;

}

#feedbackText {
    background-color: var(--lighter-purple);
    border-radius: 4px;
    padding: 10px;

}

.copy-btn {
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px 0 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px 1px;
    filter: opacity(0.5);

    svg {
        width: 20px;
    }
}

.copy-btn:hover {
    filter: opacity(1);
}

#markdownText,
#feedbackText {
    padding: 10px;

    blockquote * {
        all: unset !important;
    }

    h1,
    h2,
    h3,
    h4 {
        color: var(--black-font);
    }
}

#markdownText {
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid var(--lighter-purple);
    border-radius: 50%;
    border-top-color: var(--purple);
    height: 50px;
    width: 50px;
    margin-left: calc((100% - 50px) / 2);
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

#error {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 40px;
        margin-right: 5px;
    }

    color: var(--img-lr);
}

img.avatar_url {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.userItem {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    min-width: 100px;
    width: calc(100% - 10px);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin: 5px;
    height: auto;
    color: var(--black-font);
    border: 1px solid var(--lighter-purple);

    p {
        line-height: 0;
        font-weight: 600;
        margin: 10px 0 5px 0;
    }

    span {
        font-size: clamp(12px, 1.05vw, 20px);
        margin: 0;
    }
}

.userItem:hover {
    background-color: var(--lighter-purple);
}

#contributorsList {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: start;
    align-items: center;
    justify-content: space-between;
}

/* Media Queries */
@media (max-width: 1200px) {
    .header.post {
        min-height: 50vh;
    }

    .section {
        padding: 0 10%;
    }

    .section.tools {
        padding: 50px 10%;
    }

}

@media (min-width: 992px) {
    .card {
        margin-top: 0px;
    }
}

@media (max-width: 992px) {

    .dropdown-btn,
    .dropdown-content {
        min-width: 250px !important;
    }

    .navbar {
        padding: 5px 30px !important;
    }

    .navbar-toggler,
    .navbar-toggler:focus {
        border: none !important;
        box-shadow: none !important;
    }

    div#navbarToggler {
        background: var(--purple);
        width: 100%;
        padding: 10px;
        position: absolute;
        left: 0;
        top: 50px;
    }


    .header {
        margin-top: 50px;
        padding-top: 0;
        min-height: 0;
    }

    .header.post {
        min-height: 50vh;

        & .card-img-top {
            margin-top: 2rem;
            width: 50%;
            height: auto;
        }
    }

    .container-header img {
        width: 60%;
    }

    .card-flex {
        margin: 0;
    }

    .footer {
        padding: 15px 50px;
    }

    .section {
        padding: 0 10%;
    }

    blockquote>p {
        width: 80% !important;
    }

    blockquote p::after {

        bottom: -50px;
    }

    .card-item-cols>.card-img-top {
        max-width: 100%;
        height: auto;
    }

    .card-item-cols {
        width: 100%;
        height: fit-content;
        min-height: 150px;
    }
}

@media (max-width: 600px) {

    .section.post {

        padding: 0 10%;
    }

    .section {
        padding: 70px 10%;
    }

    .container-header img {

        width: 90%;
    }

    .paper-img {
        width: 90%;
        margin-left: 5%;
    }

    blockquote>p {
        width: 100% !important;
    }

    blockquote p::after {

        bottom: -46px;
    }
}