<!-- Default layout -->
<!DOCTYPE html>
<html lang="en">
<header>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}//css/bootstrap.min.css">
    <script type="text/javascript" src="{{ site.url }}//js/bootstrap.min.js"></script>
    <meta name=“theme-color” content="#000000"/>
    <!-- CSS (Default) -->
    <link href="{{ site.url }}/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}//css/default.css">
    <script src="https://kit.fontawesome.com/3d9da8be4a.js" crossorigin="anonymous"></script>
</header>
<body>
  <div class="container-lg">
    <nav class="navbar sticky-top navbar-expand-lg">
          <a class="navbar-brand" href="{{ site.url }}"><h4><b>Women in Open Source</b></h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/about"><h5>About</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/lsurobotics/womeninoss"><h5>Contribute</h5></a>
              </li>
              <li class="nav-item dropdown">
                <h5><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Topics
                </a></h5>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else</a></li>
                </ul>
              </li>
            </ul>
      </div>
    </nav>
  </div>

  <div class="container-lg">
    {{ content }}
    <hr>
  </div>
  
</body>
</html>
